* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: rgb(224, 223, 223);

}
header{
  border-bottom: none;
  box-shadow: none;
  border-bottom: 2px solid #ff9101;
}
header .menus nav ul li a {
  border-radius: 10px;
  padding: 10px;
  text-decoration: none;
}
main {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1130px;
    margin: 0 auto;
    box-shadow: 0 0 15px #3b3b3b;
    background-color: #cfcfcf;
    
}
#container-noticia-principal{
    width: 100%;
    display: flex;
    margin-top: 30px;
}
.img-principal{
    display: flex;
    width: 100%;
    justify-content: center;
    padding: 20px;
}
#container-logo{
  width: 100%;
  display: flex;
}
#logo-site{
  width: 100%;
  display: flex;
  justify-content: center;
}
.logo-do-site{
  width: 100%;
  display: flex;
  max-width: 1000px;
  justify-content: start;
  height:100%

}
.foto-principal{
    width: 100%;
    max-width: 1020px;
    align-items: center;
    border-radius: 15px;
    box-shadow: 0 0 10px #000000, 0 0 20px #a3a3a3;
}
.banner1{
  width: 100%;
  min-height: 136px;
  background:black;
}
#container-noticia{
  display: flex;
  width: 100%;
  justify-content: center;
  flex-wrap: wrap;
}
.list-post{
  width: 100%;
  display: flex;
  flex-direction: column;
  max-width: 1020px;
  justify-content: center;
}
#home{
  width: 100%;
  display: flex;
  padding: 5px;
  align-items: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #000000;
  text-decoration: underline;
}
.grid-00{
  width: 100%;
  display: grid;
  grid-template-columns: 50% 50%;
  padding: 5px;
  border-bottom: 1px  #353535 solid;
  margin-top: 2%;
  margin-bottom: 2%;
}

.thumb{
  width: 100%;
  height: 100%;
  border-radius: 15px;
  padding: 5px;
}
.thumb:hover {
  background-color: #a3a3a38e;
  transform: scale(1.02);
  box-shadow: 0 0 20px rgba(138, 138, 138, 0.836);
}
.materia{
  list-style: none;
  text-decoration: none;
  padding: 10px;
  color: #636363;
}
/* CONTAINER VARIADO */
#container-variado{
    display: flex;
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
    
}
.post-list-variado{
  width: 100%;
  display: flex;
  flex-direction: column;
  max-width: 1020px;
  justify-content: center;
  padding-bottom: 15px;
  
}
.grid-pai{
  display: grid;
  grid-template-columns: 50% 50%;
  gap: 1px;
  background-color: #181818;
}
.grid-01{
  width: 100%;
  display: grid;
  grid-template-columns: 60% 40%;
  padding: 10px;
  background-color: #cfcfcf;
}
.h2-style a{
  font-size: 15px;
  color: #000000;
  text-decoration: underline;
}

.thumb-01{
  width: 100%;
  
  border-radius: 15px;
  padding: 10px;
}
.thumb-01:hover {
  transform: scale(1.02);
  box-shadow: 0 0 10px rgba(138, 138, 138, 0.836);
}
.grid-01  p {
  padding: 5px;
  list-style: none;
  text-decoration: none;
  padding: 10px;
  color: #636363;
}
.grid-01  h2 {
  padding: 5px;
  list-style: none;
  padding: 10px;
  color: #636363;
}
.grid-02{
  width: 100%;
  display: grid;
  grid-template-columns: 40% 60%;
  padding: 10px;
  background-color: #cfcfcf;
}
.grid-02 p {
  list-style: none;
  padding: 5px;
  list-style: none;
  text-decoration: none;
  padding: 10px;
  color: #636363;
}
.grid-02  h2 {
  padding: 5px;
  list-style: none;
  padding: 10px;
  color: #636363;
}
.rodape{
  border-top: 2px rgb(255, 72, 0) solid;

}

.roda-pe{
  width: 100%;
  text-align:start;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 25px;
  
}

.banner-roda-pe{
  padding: 25px;
  display: flex;
  width: 100%;
  min-height: 300px;
  background: linear-gradient(#181818, #353535);
}