/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Corpo da página */
body {
  background-color: #181818;
  font-family: 'Lato', sans-serif;
  color: white;
}

/* Cabeçalho fixo */
header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
  padding: 35px 0; /* <<< cabeçalho bem mais alto */
  box-shadow: 0 4px 25px rgba(127, 3, 1, 0.4);
  border-bottom: 2px solid #ff9101;
  transition: background-color 0.4s ease, backdrop-filter 0.4s ease;
}
header.hide {
  top: -100px; /* sobe e desaparece */
}
  
/* Container centralizado */
.container {
  max-width: 1168px;
  margin: 0 auto;

}


/* Menu */
header .menus nav ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px 0;
  margin: 0;
  list-style: none;
}
#nav-menu ul {
  display: flex;
}
.menu-toggle {
  display: none;
  font-size: 32px;
  color: #fff;
  background: none;
  border: none;
  cursor: pointer;
}
#menu-toggle{
  color: rgb(255, 255, 255);
  background-color: #20202057;
  cursor: pointer;
}
#nav-menu.active ul {
    display: flex;
  }
 .menu-toggle {
    position: absolute;
    right: 25px;
    top: 20px;
  }
  

header .menus nav ul li a {
  font-size: 20px;
  font-weight: 700;
  padding: 15px 25px;
  color: #fff;
  transition: all 0.3s ease;
  
}

/* Efeito hover do menu */
header .menus nav ul li a:hover {
  background-color: #7f0301;
  color: #fff;
  box-shadow: 0 0 10px #7f0301, 0 0 20px #7f0301;
  border-radius: 10px;
  list-style: none;
  text-decoration: none;

}
section.banner{
  width: 100%;
  min-height: 300px;
  background: linear-gradient(#7f0301, #181818);
}
#home {
  display: flex;
  width: 100%;
  justify-content: space-around;
  flex-direction: column;
  max-width: 400px;
  align-items: end;

  
}
#home h1{
  justify-items: center;
  padding: 5px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* Linha lateral */
.linha {
  margin-top: 1%;
  height: 100%;
  width: 1px;
  background-color: rgb(153, 150, 150);
  position: absolute;
  left: 1400px;
  top: 100px;
  
}
.linha-vertical{
  height: 1px;
  width: 100%;
  background-color: #858585;
}
header.transparent {
  background-color: rgba(19, 19, 19, 0.4); /* mais transparente */
  backdrop-filter: blur(4px);
}
 /*  CONTAINER PARTE JOGOS */
.container-fotos{
  width: 100%;
  padding: 10px 0;
  justify-content: space-around;
  display: flex;

}
/* --- Postagens (thumbnails) --- */
.lista-postagem {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 80px; /* Espaço entre as imagens */
  padding: 45px;
  margin-top: 5px; /* Afasta das partes de cima */
  justify-items: center;
  background: linear-gradient(90deg,#1d1c1c, #353535);
  border-radius: 15px;

}
.titulo{
  color: #ffffff;
  display: flex;
  justify-content: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  width: 100%;
  text-shadow: 2px 0px 0px #ff7b00;
  border-radius: 15px;

}
.meta{
  width: 100%;
  margin-top: 5%;


}
.autor{
  color: #a8a8a8;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 15PX;
  text-decoration:underline;
  text-decoration-color: rgb(255, 166, 0);
  width: 100%;
  padding: 0 33px 0 8px;
}

.grid{
  display: grid;
  grid-template-columns: 36.4% 63.6%;
  gap:0;
  align-items: center;
  max-width: 100%;
 
}
.grid .conteudo01{
  gap:0;
  align-items: flex-start;
  max-width: 100%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 25px;
  padding: 25px;
  flex-direction: column
  
}
.grid .conteudo01 a {
  color: #eee7e7;
  transition: all 0.1s ease;
  list-style: none;
  text-decoration: none;
}
.grid .conteudo01 a:hover{
  background-color: #ff7b00;
  box-shadow: 0 4px 25px rgba(127, 3, 1, 0.4);
  border-radius: 10px;
  text-decoration: none;
  padding: 3px 0;
  transform: scale(1.05);
}


.thumb1 {
  width: 100%;
  max-width: 330px;
  aspect-ratio: 16 / 9; /* Mantém proporção tipo vídeo */
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.4);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
  
}

.thumb1 img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Garante que a imagem preencha e fique centralizada */
  display: block;
}

/* Efeito hover elegante */
.thumb1:hover {
  transform: scale(1.05);
  box-shadow: 0 0 20px rgba(255, 136, 0, 0.836);
}
.conteudo01{
  list-style: none;
  display: flex;
  width: 100%;

}

.roda-pe{
  width: 100%;
  text-align:start;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 25px;
  
}

.banner-roda-pe{
  padding: 25px;
  display: flex;
  width: 100%;
  min-height: 300px;
  background: linear-gradient(#181818, #353535);
}

/* Responsividade */
@media (max-width: 768px) {
  header .menus nav ul {
    flex-direction: column;
    gap: 1px;
    text-align: center;
    padding: 2px;
    
  }
@media (max-width: 768px) {
  /* Mostra o botão das 3 barras */
  .menu-toggle {
    display: block;
    position: absolute;
    right: 25px;
    top: 30px;
    z-index: 999;
  }
}
 @media screen and (max-width: 768px) {
  .container{
    padding: 5px;
    width: 100%;
  }
  
 }
 @media (max-width: 768px) {
  header{
    padding: 2px;
    
  } 

 
@media screen and (max-width: 768px){
  .grid{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
  }
}
@media screen and (max-width: 1024px){
  .grid{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
  }
}   
@media screen and (max-width: 768px){
  .grid .conteudo01{
    max-width: 100%;
    flex-wrap: wrap;

    align-items: center;
  }
}
@media screen and (max-width: 768px) {
  .lista-postagem{
    align-items: center;
  }
  
}
@media screen and (max-width: 768px){
  .container-fotos{
  width: 100%;
  padding: 10px 0;
  align-items: center;
  }
  
}

@media screen and (max-width: 768px) {
  .grid .data {
    display: grid;
    width: 100%;
    justify-content: center;

  }
  
}
@media screen and (max-width: 768px) {
  .grid .autor{
    display: grid;
    width: 100%;
    justify-content: center;
    padding: 0 0px 0 0px;
  }
  
}
@media screen and (max-width: 1024px) {
  .grid .autor{
    width: 100%;
    justify-content: center;
    font-size: 17px;
    padding: 0 0px 0 0px;
  }
  
}
@media screen and (max-width: 768px) {
  .grid .data {
    width: 100%;
    text-align:center;
    font-size: 18px;

  }
  
}
@media (max-width: 1200px) {
  .linha {
    left: auto;
    right: 5%;
    height: 90%;
  }
}
 
  .linha {
    display: none;
  }
}
}

@media  (max-width: 768px) {
  /* Mostra o botão das 3 barras */
  .menu-toggle {
    display: block;
    position: absolute;
    right: 25px;
    top: 30px;
    z-index: 999;
  }
}
@media  (min-width: 200px) and (max-width: 768px) {
   #nav-menu ul {
    display: none;
    flex-direction: column;
    width: 100%;
    background-color: rgba(24, 24, 24, 0.95);
    position: absolute;
    top: 90px; /* logo abaixo do header fixo */
    left: 0;
    text-align: center;
    padding: 20px 0;
    border-top: 2px solid #ff9101;
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.5);
  }
  
}
@media (max-width: 768px) {
  header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
  }
}